h1 {
    color:rgba(0, 100, 182, 0.973);
    text-decoration:underline;
}
h3 {
    color:rgba(0, 0, 0, 0.973);
    font-weight:bold;
    font-family:Arial;
}

    h4 {
        font-size: 14pt;
        color:rgba(145, 55, 3, 0.973);
        font-weight:bold;
        font-family:Arial;
}
body {
    background-color:#c2e6e9;
}
#p1 {
    color:rgba(5, 2, 2, 0.973);
    font-style: italic;
    font-family:Arial;
    
}
